{
    "tables": [
        {
          "columnNames": [
            "CIDRRange"
          ],
          "name": "feature__easyL4FirewallBlacklist",
          "rows": []
        },
        {
          "columnNames": [
            "CIDRRange"
          ],
          "name": "feature__easyL4FirewallSourceList",
          "rows": [
            {
              "row": [
                "0.0.0.0/0"
              ]
            }
          ]
        },
        {
            "columnNames": [
                "Group",
                "Target",
                "Parameter"
            ],
            "name": "l7policy__rulesAction",
            "rows": [
                {
                    "row": [
                        "0",
                        "forward/request/select/pool",
                        "pool_1"
                    ]
                },
                {
                    "row": [
                        "1",
                        "asm/request/enable/policy",
                        "bundled:linux-high"
                    ]
                },
                {
                    "row": [
                        "2",
                        "forward/request/select/pool",
                        "pool_1"
                    ]
                },
                {
                    "row": [
                        "3",
                        "forward/request/select/pool",
                        "pool_2"
                    ]
                },
                {
                    "row": [
                        "default",
                        "forward/request/select/pool",
                        "pool_1"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Group",
                "Operand",
                "Negate",
                "Condition",
                "Value",
                "CaseSensitive",
                "Missing"
            ],
            "name": "l7policy__rulesMatch",
            "rows": [
                {
                    "row": [
                        "0",
                        "http-host/request/all",
                        "yes",
                        "equals",
                        "demo.f5example.com",
                        "yes",
                        "yes"
                    ]
                },
                {
                    "row": [
                        "1",
                        "http-uri/request/path",
                        "no",
                        "contains",
                        "/login",
                        "no",
                        "no"
                    ]
                },
                {
                    "row": [
                        "2",
                        "http-uri/request/path",
                        "no",
                        "starts-with",
                        "/apiv1",
                        "no",
                        "no"
                    ]
                },
                {
                    "row": [
                        "3",
                        "http-uri/request/path",
                        "no",
                        "starts-with",
                        "/apiv2",
                        "no",
                        "no"
                    ]
                },
                {
                    "row": [
                        "default",
                        "",
                        "no",
                        "equals",
                        "",
                        "no",
                        "no"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Index",
                "Name",
                "Type",
                "Options"
            ],
            "name": "monitor__Monitors",
            "rows": [
                {
                    "row": [
                        "0",
                        "/Common/http",
                        "none",
                        "none"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Index",
                "IPAddress",
                "Port",
                "ConnectionLimit",
                "Ratio",
                "PriorityGroup",
                "State",
                "AdvOptions"
            ],
            "name": "pool__Members",
            "rows": [
                {
                    "row": [
                        "0",
                        "www.f5.com",
                        "80",
                        "0",
                        "1",
                        "0",
                        "enabled",
                        "none"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Index",
                "Name",
                "Description",
                "LbMethod",
                "Monitor",
                "AdvOptions"
            ],
            "name": "pool__Pools",
            "rows": [
                {
                    "row": [
                        "0",
                        "",
                        "",
                        "round-robin",
                        "0",
                        "none"
                    ]
                }
            ]
        },
        {
            "columnNames": [
                "Resource"
            ],
            "name": "vs__BundledItems",
            "rows": [
                {
                    "row": [
                        "asm:url=https://s3.amazonaws.com/f5-downloads/dev/linux-low.xml"
                    ]
                },
                {
                    "row": [
                        "asm:url=https://s3.amazonaws.com/f5-downloads/dev/linux-medium.xml"
                    ]
                },
                {
                    "row": [
                        "asm:url=https://s3.amazonaws.com/f5-downloads/dev/linux-high.xml"
                    ]
                }
            ]
        },
        {
          "columnNames": [
            "Listener"
          ],
          "name": "vs__Listeners",
          "rows": []
        }
    ],
    "variables": [
        {
            "encrypted": "no",
            "name": "extensions__Field1"
        },
        {
            "encrypted": "no",
            "name": "extensions__Field2"
        },
        {
            "encrypted": "no",
            "name": "extensions__Field3"
        },
        {
            "encrypted": "no",
            "name": "feature__easyL4Firewall",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__insertXForwardedFor",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__redirectToHTTPS",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "feature__securityEnableHSTS",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "feature__sslEasyCipher",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "feature__statsHTTP",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "feature__statsTLS",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__apmDeployMode",
            "value": "preserve-bypass"
        },
        {
            "encrypted": "no",
            "name": "iapp__appStats",
            "value": "enabled"
        },
        {
            "encrypted": "no",
            "name": "iapp__asmDeployMode",
            "value": "redeploy-block"
        },
        {
            "encrypted": "no",
            "name": "iapp__logLevel",
            "value": "5"
        },
        {
            "encrypted": "no",
            "name": "iapp__mode",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__routeDomain",
            "value": "auto"
        },
        {
            "encrypted": "no",
            "name": "iapp__strictUpdates",
            "value": "enabled"
        },
        {
            "encrypted": "no",
            "name": "l7policy__defaultASM",
            "value": "bypass"
        },
        {
            "encrypted": "no",
            "name": "l7policy__defaultL7DOS",
            "value": "bypass"
        },
        {
            "encrypted": "no",
            "name": "l7policy__strategy",
            "value": "/Common/first-match"
        },
        {
            "encrypted": "no",
            "name": "pool__DefaultPoolIndex",
            "value": "0"
        },
        {
            "encrypted": "no",
            "name": "pool__MemberDefaultPort",
            "value": "80"
        },
        {
            "encrypted": "no",
            "name": "pool__addr",
            "value": "{{ vip_address }}"
        },
        {
            "encrypted": "no",
            "name": "pool__mask",
            "value": "255.255.255.255"
        },
        {
            "encrypted": "no",
            "name": "pool__port",
            "value": "443"
        },
        {
            "encrypted": "no",
            "name": "vs__AdvOptions"
        },
        {
            "encrypted": "no",
            "name": "vs__AdvPolicies"
        },
        {
            "encrypted": "no",
            "name": "vs__AdvProfiles"
        },
        {
            "encrypted": "no",
            "name": "vs__ConnectionLimit",
            "value": "0"
        },
        {
            "encrypted": "no",
            "name": "vs__Description",
            "value": "Standard HTTPS Virtual Server with bundled ASM and L7 policy"
        },
        {
            "encrypted": "no",
            "name": "vs__IpProtocol",
            "value": "tcp"
        },
        {
            "encrypted": "no",
            "name": "vs__Irules"
        },
        {
            "encrypted": "no",
            "name": "vs__Name",
            "value": "www_demo_f5example_com_vs"
        },
        {
            "encrypted": "no",
            "name": "vs__OptionConnectionMirroring",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "vs__OptionSourcePort",
            "value": "preserve"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileAccess"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileAnalytics"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientProtocol",
            "value": "/Common/tcp-wan-optimized"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSL"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSLAdvOptions"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSLCert",
            "value": "/Common/www_demo_f5example_com.crt"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSLChain"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSLCipherString"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileClientSSLKey",
            "value": "/Common/www_demo_f5example_com.key"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileCompression",
            "value": "/Common/httpcompression"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileConnectivity"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileDefaultPersist",
            "value": "/Common/cookie"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileFallbackPersist"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileHTTP",
            "value": "/Common/http"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileOneConnect"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfilePerRequest"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileRequestLogging"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileSecurityDoS"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileSecurityIPBlacklist",
            "value": "none"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileSecurityLogProfiles"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileServerProtocol",
            "value": "/Common/tcp-lan-optimized"
        },
        {
            "encrypted": "no",
            "name": "vs__ProfileServerSSL"
        },
        {
            "encrypted": "no",
            "name": "vs__RouteAdv",
            "value": "disabled"
        },
        {
            "encrypted": "no",
            "name": "vs__SNATConfig",
            "value": "automap"
        },
        {
            "encrypted": "no",
            "name": "vs__SourceAddress",
            "value": "0.0.0.0/0"
        },
        {
            "encrypted": "no",
            "name": "vs__VirtualAddrAdvOptions"
        }
    ]
}